#divBlue{
  width: 50%;
  height: 500px;
  float: right;
}

#left{
  float:left;
  width: 50%;
  height: 500px;
}

.bg-color{
  background-color: aqua;
  width: 120px;
  height: 100px;
}

img{
  margin: 10px;
}